<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.css">
  <title>Resto-Food App </title>

</head>
<body>
     <nav>
        <ul class="nav-list">
          <div class="left-side">
            <a href="#" class="logo">RESTO</a>
          </div>
          <div class="right-side">
            <ul>
              <li><a href="#">SEARCH</a></li>
              <li><a href="#">OFFERS</a></li>
              <li><a href="#">HELP</a></li>
              <li><a href="#">CART</a></li>
            </ul>
          </div>
          <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </ul>
     </nav>
     <section class="feature-section">
      <div class="upper-side">
        <h1>Best offers for you</h1>
      </div>
      <div class="lower-side">
        <img src="../public/images/banner2.avif" alt="">
        <img src="../public/images/banner4.avif" alt="">
        <img src="../public/images/banner3.avif" alt="">
        <img src="../public/images/banner1.avif" alt="">
        
      </div>
     </section>

     <section class="category-section">
      <div class="upper-side">
        <h1>What's on your mind? </h1>
      </div>
      <div class="lower-side">
        <div class="items">
         <img src="../public/images/Coffee.avif" alt="">
         <img src="../public/images/Dosa.avif" alt="">
         <img src="../public/images/Idli.avif" alt="">
         <img src="../public/images/Khichdi.avif" alt="">
         <img src="../public/images/Poha.avif" alt="">
         <img src="../public/images/Lassi.avif" alt="">
         <img src="../public/images/Samosas.avif" alt="">
         <img src="../public/images/Sandwich.avif" alt="">
         <img src="../public/images/Paratha.avif" alt="">
         <img src="../public/images/Poori.avif" alt="">
         <img src="../public/images/Omelette.avif" alt="">
         <img src="../public/images/Shakes.avif" alt="">
         <img src="../public/images/Upma.avif" alt="">
         <img src="../public/images/Vada.avif" alt="">
      </div>
     </section>
    

  <section class="local-section">
    <div class="top-side">
      <h1>Find best From your Area</h1>
    </div>
    <div class="bottom-side">
      <img src="../public/images/banner2.avif" alt="">
      <img src="../public/images/banner4.avif" alt="">
      <img src="../public/images/banner3.avif" alt="">
      <img src="../public/images/banner1.avif" alt="">
      
    </div>
   </section>
   <div id="footer">
    <p>&copy; 2024 RESTO. All rights reserved. | 
        <a href="#">Terms of Service</a> | 
        <a href="#">Privacy Policy</a> | 
        <a href="#">Contact Us</a>
    </p>
</div>
</body>
</html>